* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.chessboard {
    width: 320px;
    height: 320px;
    /* border: 1px solid #ff0000; */
}

.cell {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.cell:nth-child(odd){
    background-color: #000000;
}

.cell:nth-child(even){
    background-color: #ffffff;
}


/* .bg_b {
    background-color: #000000;
}

.bg_w {
    background-color: #ffffff;
} */